body {
    background-color: rgb(56, 56, 56);
}
  
h1 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(56, 56, 56);
    text-align: center;
}
  
p {
    font-family: verdana;
    font-size: 20px;
}

.container {
    color: rgb(56, 56, 56);
    background-color: white;
    padding: 2%;
    top: 10%;
}
